{% extends "front/template_page.html.twig" %}

{% block title %}Cerfunos | Conditions d'Utilisations{% endblock %}

{% block titre %}Condtions d'utilisations{% endblock %}

{% block content %}
<div class="text-white p-5">
    <p>Ce site web est exploité par Cerfunos. Partout sur le site, nous employons les termes « nous », « notre » et « nos » en référence à Cerfunos. Ce site web, y compris l'ensemble des informations, outils et services auquel il donne accès, est offert par Cerfunos à l'utilisateur que vous êtes, à condition que vous acceptiez la totalité des modalités, conditions, politiques et avis stipulés ici.</p>

    <p>En visitant notre site et/ou en achetant quelque chose auprès de notre entreprise, vous prenez part à notre « Service » et acceptez d'être lié(e) par les modalités et conditions suivantes (« Conditions générales », « Conditions d'utilisation »), y compris par les modalités, conditions et politiques mentionnées aux présentes et/ou accessibles en hyperlien. Les présentes Conditions d'utilisation s'appliquent à tous les utilisateurs du Site, y compris, sans s'y limiter, aux individus qui sont des visiteurs, des fournisseurs, des clients, des marchands et/ou des fournisseurs de contenu.</p>

    <p>Veuillez lire attentivement les présentes Conditions d'utilisation avant d'accéder à notre site web et de l'utiliser. En accédant à une quelconque partie du Site ou en l'utilisant, vous acceptez d'être lié(e) par les présentes Conditions d'utilisation. Si vous n'acceptez pas la totalité des modalités et conditions du présent accord, vous ne pourrez peut-être pas accéder au site web ou utiliser ses services. Si les présentes Conditions d'utilisation sont considérées comme une offre, leur acceptation se limite expressément à elles.</p>

    <p>Chacun des nouveaux outils ou fonctionnalités qui sont ajoutés à la présente boutique est également assujetti aux Conditions d'utilisation. Vous pouvez consulter la version la plus récente des Conditions d'utilisation à tout moment sur cette page. Nous nous réservons le droit de mettre à jour, modifier ou remplacer n'importe quelle partie des présentes Conditions d'utilisation en publiant lesdites mises à jour et/ou modifications sur notre site web. Il vous incombe de vérifier cette page de temps à autre pour voir si des changements y ont été apportés. En continuant à accéder au site web ou à l'utiliser après la publication des modifications, vous acceptez celles-ci.</p>

    <h5>SECTION 1 – CONDITIONS D'UTILISATION DE LA BOUTIQUE EN LIGNE</h5>

    <p>En acceptant les présentes Conditions d'utilisation, vous déclarez avoir atteint ou dépassé l'âge de la majorité dans votre région, province ou État et nous avoir donné l'autorisation de permettre à toute personne mineure à votre charge d'utiliser ce site.</p>

    <p>Vous ne devez en aucune façon utiliser nos produits à des fins illégales ou non autorisées, ni violer des lois de votre juridiction lorsque vous utilisez le Service (y compris, sans toutefois s'y limiter, les lois relatives aux droits d'auteur).</p>

    <p>Vous ne devez pas transmettre de vers informatique, de virus ou tout code de nature destructrice.</p>

    <p>Une infraction ou une violation de n'importe laquelle des Conditions entraînera la résiliation immédiate de vos Services.</p>

    <h5>SECTION 2 – CONDITIONS GÉNÉRALES</h5>

    <p>Nous nous réservons le droit de refuser de servir quelqu'un à tout moment et pour quelque raison que ce soit.</p>

    <p>Vous comprenez que votre contenu (à l'exception des informations relatives à votre carte de crédit) peut être transféré sans chiffrement et que cela comprend (a) des transmissions sur plusieurs réseaux ; et (b) des changements effectués dans le but de se conformer et de s'adapter aux exigences techniques de la connexion de réseaux ou d'appareils. Les informations de votre carte de crédit sont toujours chiffrées lors de leur transfert sur les réseaux.</p>

    <p>Vous acceptez de ne pas reproduire, dupliquer, copier, vendre, revendre ou exploiter toute partie du Service, toute utilisation du Service ou tout accès au Service, ou encore tout contact sur le site web à travers lequel le Service est fourni, sans notre autorisation écrite expresse.</p>

    <p>Les titres utilisés dans le présent accord sont inclus à titre indicatif uniquement et ne limiteront ni n'affecteront aucunement ces Conditions.</p>

    <h5>SECTION 3 – EXACTITUDE, EXHAUSTIVITÉ ET ACTUALITÉ DES INFORMATIONS</h5>

    <p>Nous ne saurions être tenus responsables si les informations proposées sur ce site sont inexactes, incomplètes ou caduques. Le contenu de ce site est fourni à titre d'information générale uniquement et ne doit pas être considéré ou utilisé comme seule base pour la prise de décisions sans consulter des sources d'information plus importantes, plus exactes, plus complètes ou plus actuelles. Si vous vous fiez au contenu de ce site, vous le faites à vos propres risques.</p>

    <p>Ce site peut contenir certaines données historiques. Par définition, les données historiques ne sont pas actuelles et sont fournies uniquement à titre de référence. Nous nous réservons le droit de modifier les contenus de ce site à tout moment, mais nous n'avons aucune obligation de mettre à jour les informations qu'il contient, quelles qu'elles soient. Vous reconnaissez qu'il vous incombe de surveiller les changements apportés à notre site.</p>

    <h5>SECTION 4 – MODIFICATIONS DU SERVICE ET DES PRIX</h5>

    <p>Les prix de nos produits sont modifiables sans préavis.</p>

    <p>Nous nous réservons le droit de modifier ou de mettre fin au Service (ou à une quelconque partie de celui-ci) à tout moment et sans préavis.</p>

    <p>Nous ne pourrons être tenus responsables envers vous ou tout tiers de tout changement de prix, ou encore de toute modification, suspension ou interruption du Service.</p>

    <h5>SECTION 5 – PRODUITS OU SERVICES (le cas échéant)</h5>

    <p>Il est possible que certains produits ou services ne soient disponibles qu'en ligne à travers le site web. Il se peut que les quantités de ces produits ou services soient limitées et que leur retour ou leur échange soit strictement assujetti à notre Politique de retour.</p>

    <p>Nous nous sommes efforcés de présenter aussi précisément que possible les couleurs et images des produits figurant sur la boutique. Nous ne pouvons cependant pas garantir la précision d'affichage des couleurs sur l'écran de votre ordinateur.</p>

    <p>Nous nous réservons le droit, sans toutefois y être obligés, de limiter la vente de nos produits ou Services à n'importe quelle personne, région géographique ou juridiction donnée. Nous nous autorisons à exercer ce droit au cas par cas. Nous nous réservons le droit de limiter les quantités des produits ou services que nous offrons. Toutes les descriptions des produits et leur tarification sont modifiables à tout moment, sans préavis et à notre entière discrétion. Nous nous réservons le droit d'interrompre la vente d'un produit à tout moment. Toute offre de produit ou service sur ce site est nulle là où la loi l'interdit.</p>

    <p>Nous ne garantissons pas que la qualité des produits, services, informations ou autres matériels que vous achetez ou que vous vous procurez répondra à vos attentes ni que les erreurs que comporte éventuellement le Service seront corrigées.</p>

    <h5>SECTION 6 – EXACTITUDE DE LA FACTURATION ET DES INFORMATIONS DE COMPTE</h5>

    <p>Nous nous réservons le droit de refuser toute commande que vous passez auprès de nous. Nous pouvons, à notre seule discrétion, limiter ou annuler les quantités achetées par personne, par foyer ou par commande. Ces restrictions peuvent inclure les commandes passées par ou sur le même compte client, la même carte de crédit et/ou des commandes utilisant la même adresse de facturation et/ou d'expédition. Si nous modifions ou annulons une commande, il se peut que nous tentions de vous en aviser en vous contactant au moyen de l'adresse e-mail et/ou de l'adresse de facturation ou du numéro de téléphone fournis au moment de la commande. Nous nous réservons le droit de limiter ou d'interdire les commandes qui, selon nous, semblent avoir été passées par des négociants, des revendeurs ou des distributeurs.</p>

    <p>Vous acceptez de fournir des informations d'achat et de compte actuelles, complètes et exactes pour tous les achats effectués dans notre boutique. Vous acceptez de mettre rapidement à jour votre compte et toute autre information, y compris votre adresse e-mail et vos numéros de cartes de crédit et leurs dates d'expiration, afin que nous puissions finaliser vos transactions et vous contacter en cas de besoin.</p>

    <p>Pour plus d'informations, veuillez consulter notre Politique de retour.</p>

    <h5>SECTION 7 – OUTILS FACULTATIFS</h5>

    <p>Nous sommes susceptibles de vous fournir l'accès à des outils tiers que nous ne surveillons, ne contrôlons et ne gérons pas.</p>

    <p>Vous reconnaissez et acceptez que nous vous fournissons l'accès à ces outils « tels quels » et « sous réserve de disponibilité », sans garantie, représentation ou condition d'aucune sorte et sans la moindre approbation. Nous ne saurions être tenus responsables de quoi que ce soit à l'égard de ce qui pourrait résulter de ou être relié à votre utilisation des outils facultatifs tiers.</p>

    <p>Toute utilisation par vous des outils facultatifs proposés par le biais du site est entièrement à votre discrétion et à vos propres risques. En outre, il vous appartient de vous renseigner sur les conditions dans lesquelles ces outils sont fournis par le(s) fournisseur(s) tiers concerné(s) et accepter ces conditions.</p>

    <p>Il se peut également qu'à l'avenir, nous proposions de nouveaux services et/ou de nouvelles fonctionnalités à travers le site web (y compris le lancement de nouveaux outils et ressources). Ces nouveaux services et/ou fonctionnalités seront aussi assujettis aux présentes Conditions d'utilisation.</p>

    <h5>ARTICLE 8 – LIENS DE TIERS</h5>

    <p>Certains contenus, produits et services accessibles via notre Service peuvent inclure des éléments provenant de tiers.</p>

    <p>Les liens de tiers sur ce site peuvent vous rediriger vers des sites web de tiers qui ne sont pas affiliés à nous. Nous ne sommes pas tenus d’examiner ou d’évaluer leur contenu ou leur exactitude, de même que nous ne garantissons pas et n’assumons aucune responsabilité quant aux contenus ou sites web, ou aux autres contenus, produits ou services de sources tierces.</p>

    <p>Nous ne sommes pas responsables des préjudices ou dommages liés à l’achat ou à l’utilisation de biens, services, ressources, contenus ou de toute autre transaction reliée à ces sites web tiers. Veuillez lire attentivement les politiques et pratiques de ces tiers et assurez-vous de bien les comprendre avant de vous engager dans une transaction. Les plaintes, réclamations, préoccupations ou questions concernant les produits de tiers doivent être adressées à ces mêmes tiers.</p>

    <h5>ARTICLE 9 – COMMENTAIRES, RETOURS D'EXPÉRIENCE ET AUTRES SOUMISSIONS</h5>

    <p>Si, à notre demande, vous soumettez des contenus spécifiques (par exemple, dans le cadre de votre participation à des concours), ou si, sans demande de notre part, vous envoyez des idées créatives, des suggestions, des propositions, des plans ou d’autres éléments, que ce soit en ligne, par e-mail, par courrier ou autrement (collectivement, « commentaires »), vous nous accordez le droit, à tout moment et sans restriction, de modifier, copier, publier, distribuer, traduire et utiliser dans quelque média que ce soit tous les commentaires que vous nous transmettez. Nous ne sommes pas et ne devrons en aucun cas être tenus (1) de maintenir la confidentialité des commentaires ; (2) de dédommager qui que ce soit pour tout commentaire fourni ; ou (3) de répondre aux commentaires.</p>

    <p>Nous pouvons, mais nous n'en avons pas l'obligation, supprimer le contenu et les Comptes contenant du contenu que nous jugeons, à notre seule discrétion, illégal, offensant, menaçant, diffamatoire, pornographique, obscène ou autrement répréhensible ou qui viole la propriété intellectuelle d'une partie ou les présentes Conditions d'utilisation.</p>

    <p>Vous convenez que vos commentaires ne doivent en aucun cas porter atteinte aux droits de tiers, y compris aux droits d'auteur, aux marques de commerce, à la vie privée, à la personnalité ou à tout autre droit personnel ou de propriété intellectuelle. Vous convenez en outre que vos commentaires ne devront contenir aucun élément illégal, injurieux ou obscène, ni aucun virus informatique ou autre logiciel malveillant susceptible d'affecter d'une quelconque façon le fonctionnement du Service ou de tout site web connexe. Vous ne pouvez pas utiliser de fausse adresse e-mail, prétendre être quelqu’un que vous n’êtes pas, ou essayer de nous induire, nous ou les tiers, en erreur quant à l’origine des commentaires. Vous êtes entièrement responsable de tous les commentaires que vous émettez ainsi que de leur exactitude. Nous déclinons toute responsabilité à l'égard des commentaires publiés par vous ou un tiers.</p>

    <h5>ARTICLE 10 – INFORMATIONS PERSONNELLES</h5>

    <p>La transmission de vos informations personnelles sur notre boutique est régie par notre Politique de confidentialité.  Cliquez ici pour consulter notre Politique de Confidentialité.</p>

    <h5>ARTICLE 11 – ERREURS, INEXACTITUDES ET OMISSIONS</h5>

    <p>Il se peut qu'il y ait parfois, sur notre site ou dans le Service, des informations contenant des erreurs typographiques, des inexactitudes ou des omissions reliées aux descriptions, aux prix, aux promotions, aux offres, aux frais d’expédition, aux délais d'acheminement et à la disponibilité des produits. Nous nous réservons le droit de corriger toute erreur, inexactitude ou omission, et de changer ou d'actualiser des informations, voire d’annuler des commandes si une quelconque information dans le Service ou sur tout site web connexe est inexacte, et ce, à tout moment et sans préavis (y compris après que vous ayez passé votre commande).</p>

    <p>Nous ne sommes pas tenus d'actualiser, de modifier ou de clarifier les informations indiquées dans le Service ou sur tout site web connexe, y compris mais sans s'y limiter, les informations sur les prix, sauf si la loi l'exige. Aucune date précise de mise à jour ou d’actualisation appliquée au Service ou à tout site web connexe ne saurait être définie pour indiquer que l'ensemble des informations offertes dans le Service ou sur tout site web connexe ont été modifiées ou mises à jour.</p>
</div>
{% endblock %}