{% extends 'front/template_page.html.twig' %}

{% block title %}Cerfunos | Commentaire
{% endblock %}
{% block titre %}Laissez un avis !
{% endblock %}

{% block content %}
	<div class="text-white m-5 p-5">
		{# {{ form(form)}} #}
		</div>
	{% endblock %}

{% endblock %}
