{% extends 'admin/template.html.twig' %}

{% block title %}
	Consulter une commande
{% endblock %}

{% block titre %}
	Consulter une commande
{% endblock %}

{% block body %}
	{{ dump(commandes) }}
	<div class="example-wrapper p-5">
		{% for commande in commandes %}
			<h2>Vous consultez la commande :
				{{commande.id}}
			</h2>
			{{ dump(commande) }}
		{% endfor %}

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Produit</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix</th>
					<th scope="col">Adresse de livraison</th>
				</tr>
			</thead>
			<tbody>
				{% for commande in commandes %}
					<tr scope="row">
						<td>Nom prod
							{#contenu.produit#}
						</td>
						<td>Quantite prod
							{#contenu.quantite#}
						</td>
						<td>Prix prod
							{#contenu.prix#}
						</td>
						<td>{{commande.client.adresse}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
