{% extends 'admin/template.html.twig' %}


{% block titre %}
	Ajouter un fournisseur
{% endblock %}

{% block title %}
	Ajouter un fournisseur
{% endblock %}

{% block body %}
	{{ form(formFournisseur) }}

		<h2>Liste des fournisseurs</h2>
		<ul class="list-group ">
			{% for getFournisseur in getFournisseurs %}
				<li class="list-group-item list-group-item-action d-flex justify-content-between">{{getFournisseur}}
				</li>
			{% endfor %}
		</ul>
	{% endblock %}
