{% extends 'admin/template.html.twig' %}

{% block title %}Administration des fournisseurs
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Fournisseur</h1>

		{{form(form_add_fournisseur)}}
		</div>
	{% endblock %}
