{% extends 'admin/template.html.twig' %}

{% block title %}Modifier un Type de caractéristique{% endblock %}

{% block body %}
<h1 class="py-5">
    Modifier un type de caractéristique
</h1>
    {{form(form_type_caract)}}
{% endblock %}
