{% extends 'admin/template.html.twig' %}

{% block title %}Modifier le Type de caractéristique{% endblock %}
{% block titre %}Modifier le Type de caractéristique{% endblock %}

{% block body %}
    {{form(form_type_caract)}}
    <h2>Caractéristiques</h2>
    <ul class="list-group ">
        {% for getcaracteristique in getcaracteristiques %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between">{{getcaracteristique}}

            </li>
        {% endfor %}
    </ul>
{% endblock %}
