/************************Global*************************************/

.border-bottom {
    border-bottom: 6px solid #f2a950 !important;
}
.border-orange{
    border :  3px solid #f2a950 !important;
}
#search {
    border: #f2a950 solid 4px;
}
.boutonCompte:hover{
    color: black !important;
}
.menuLiens{
    transition: 0.3s ease;
}
.menuLiens:hover{
    color: #f2a950 !important;
}
.carousel-caption {
    bottom: 25rem !important;
    font-weight: bold !important;
}
svg:hover {
    color: #ff8b00 !important;
    transition-duration: 0.3s;
}
footer {
    background-color: #f2a950;
}
/***********************************Carrousel*******************************************/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
/***********************************customText Accueil**********************************/
#custom_text{
    background: url('../blockText/blockTextImg.png') center/cover no-repeat fixed;
}
/*******************************************card accueil*****************************/
.boutonPlus:hover{
    background: white;
    color: black;
    transition: 0.3s ease;
}
.card{
    transition: 0.3s ease;
}
.card:hover{
    transform: scale(1.1);
}


/*************************mediaqueries**********************************/
@media screen and(max-width: 760px) {
    #nav_log {
        flex-direction: column !important;
    }
}