{% extends "front/template_page.html.twig" %}

{% block title %}Cerfunos | Politique d'Utilisation des Cookies{% endblock %}

{% block titre %}Politique d'utilisation des Cookies{% endblock %}

{% block content %}

<div class="text-white p-5">

    <h5>Article 1: Mentions légales</h5>

    <p>Ce site est la propriété et est édité par la Société BVD Fr SA au capital de 875 358 euros, 25 rue du Gros Caillou 78340 Les Clayes Sous Bois, RCS Versailles B 379 398 456 (ci-après, "Cerfunos").</p>

    <p>Retrouvez en bas de page la liste des société rattaché à BVD Fr SA comme BV STORE FR</p>

    <p>Numéro Siren: Versailles B 379 398 456</p>
    <p>Numéro de TVA intracommunautaire: FR96379398456</p>
    <p>Numéro de téléphone (Standard): 01 30 07 58 58</p>
    <p>Adresse de courrier électronique (Standard): contact@cerfunos.fr</p>

    <p>Ce site est hébergé par la société COREYE (Groupe Pictime) - 59650 VILLENEUVE D'ASCQ </p>

    <p>Le Directeur de la publication du site est: Bruno Peyroles</p>

    <p>Vous êtes informé que le site www.cerfunos.fr (ci-après, le "Site") peut également vous permettre d’accéder à des pages et espace Web comportant des informations commerciales publiées par certains magasins du réseau  Bureau-Vallée que vous avez sélectionnés - ci-après "le(s) Franchisé(s) - qui peuvent être des personnes morales distinctes de la société BVD Fr SA. Les offres commerciales mentionnées sur ces espaces sont faites sous la responsabilité du Franchisé sélectionné, qui est mentionné sur les pages où elles figurent. Le représentant légal dudit Franchisé assume la responsabilité du directeur de la publication relativement à ces offres commerciales.</p>

    

    <h5>Article 2: Généralités</h5>

    <p>Cerfunos a ouvert le site www.cerfunos.fr pour faire connaître le catalogue des produits sélectionnés par Cerfunos qui peuvent être vendus par les Franchisés et de promouvoir certaines offres de ces derniers. Il peut comporter également diverses fonctionnalités permettant aux consommateurs d'entrer en contact avec les Franchisés aux fins, par exemple, de réserver des produits en vue d'un achat ultérieur en magasin, ou de procéder directement à un achat en ligne. Votre utilisation du Site est soumise au respect des présentes conditions générales d’accès et d’utilisation détaillées figurant à l'article 3 ci-dessous et de l’ensemble des lois applicables. Lorsque vous accédez au Site et que vous le parcourez et l’utilisez, vous acceptez sans réserve les Conditions Générales, qui prévalent sur tout autre accord que vous pourriez avoir par ailleurs avec Cerfunos ou les membres de son réseau commercial.</p>

    

    <h5>Article 3: Conditions d’utilisation</h5>

    <p>3.1. Acceptation</p>

    <p>Toute personne qui accède au Site s’engage à respecter les présentes conditions générales d’utilisation, qui pourront pour certains services être complétées par des conditions particulières. Cerfunos se réserve le droit de modifier et mettre à jour à tout moment l’accès au site ainsi que les Conditions Générales. Ces modifications et mises à jour s’imposent à l’utilisateur qui doit en conséquence se référer régulièrement à cette rubrique pour vérifier les Conditions Générales en vigueur. Cerfunos se réserve le droit de modifier ainsi que de supprimer, tout ou partie du Site et ce, sans préavis et sans avoir à en informer préalablement les internautes. </p>

    <p>3.2. Droits de propriété intellectuelle</p>

    <p>Les reproductions, sur un support papier ou informatique, du Site et des œuvres et modèles qui y sont reproduits sont autorisées sous réserve qu’elles soient exclusivement réservées à un usage strictement personnel excluant tout usage à des fins publicitaires et/ou commerciales et/ou d’information et/ou qu’elles soient conformes aux dispositions de l’article L122-5 du Code de la Propriété Intellectuelle. A l’exception des dispositions ci-dessus, toute reproduction, représentation, utilisation ou modification, par quelque procédé que ce soit et sur quelque support que ce soit, de tout ou partie du site, de tout ou partie des différentes œuvres  et modèles qui le composent, sans avoir obtenu l’autorisation préalable de Cerfunos, est strictement interdite et constitue un délit de contrefaçon.</p>

    <p>L’appellation Cerfunos, le logo Cerfunos, le nom des produits et services qui y sont associés, sont des marques déposées par Cerfunos dont l'usage dans la vie des affaires est interdit sans l'autorisation de Cerfunos.</p>

    <p>3.3.  Liens hypertextes</p>

    <p>La mise en place d’un lien hypertexte vers le présent Site nécessite une autorisation préalable écrite de Cerfunos. Si vous souhaitez mettre en place un lien hypertexte vers notre Site, vous devez en conséquence prendre contact avec le Responsable du Site. Cerfunos ne peut en aucun cas être tenue pour responsable de la mise à disposition des sites qui font l’objet d’un lien hypertexte à partir du présent Site et ne peut supporter aucune responsabilité sur le contenu, les produits, les services, etc. disponibles sur ces sites ou à partir de ces sites.</p>

    

    <h5>Art. 4 Valeur contractuelle des informations</h5>

    <p>Les prix et informations mentionnés dans nos pages sont donnés à titre indicatif (pour la France métropolitaine) à la date de la dernière mise à jour du site et ne sont pas contractuels. Ces prix indicatifs sont susceptibles d’évoluer périodiquement ou à l’occasion de modifications opérées par nos fabricants. Seuls les prix et informations relatifs aux offres commerciales des magasins constituant notre réseau (qui peuvent être les filiales ou des distributeurs indépendants ayant une personnalité morale distincte) - accessibles sur le site seulement une fois que vous avez sélectionné l'un de ces magasins - peuvent lier ces derniers selon les conditions contractuelles applicables aux ventes et services qu'ils proposent.</p>

    

    <h5>Art. 5 Modification / Suspension / Exclusion de responsabilité</h5>

    <p>Cerfunos se réserve le droit de corriger et modifier à tout moment le contenu du site sans que sa  responsabilité puisse être engagée de ce fait, Cerfunos pouvant apporter à tout moment des améliorations et/ou changements au(x) service(s) offerts sur ce site, ou en suspendre la fourniture.</p>

    <p>Cerfunos et ses prestataires ne sauraient être tenus pour responsables des éléments en dehors de leur contrôle et des dommages qui pourraient éventuellement être subis par votre environnement technique, et notamment, vos ordinateurs, logiciels, équipement, réseaux (modems, téléphone…) et tout  matériel utilisé pour accéder au site ou pour l’utiliser.</p>

    

    <h5>Art. 6 Droit applicable / Compétence</h5>

    <p>Les présentes Conditions Générales sont soumises au droit interne français. En cas de litige, l'instance devra être portée devant le Tribunal de Grande Instance territorialement compétent ou, à défaut, devant le Tribunal de Grande Instance de Paris.</p>
    
</div>
{% endblock %}

