{% extends "front/template_page.html.twig" %}

{% block title %}Cerfunos | Politique d'Utilisation des Cookies{% endblock %}

{% block titre %}Politique d'utilisation des Cookies{% endblock %}

{% block content %}

<div class="text-white p-5">
    <p>Chez Cerfunos (« nous »), nous souhaitons offrir à nos clients et à nos visiteurs (« vous ») une expérience d'achat et de navigation sur notre site internet, https://www.cerfunos.fr/, (« Site»), respectueuse de leur droit à l'information.</p>

    <p>La présente politique d'utilisation des cookies (« Politique ») décrit :</p>

    <p>Comment fonctionnent les cookies susceptibles d'être déposés sur votre terminal (ordinateurs, smartphones, tablettes numériques, consoles de jeux vidéo connectées à Internet) lors de votre navigation sur notre Site.</p>

    <p>Comment vous pouvez paramétrer vos choix.</p>

    <p>La Politique est rédigée par le responsable de traitement des Données collectées sur le Site :</br>
    BVD FR SASU</br>
    25 rue du Gros Caillou 78340 – Les Clayes-sous-Bois</br>
    RCS de Versailles n°379 398 456</br>
    Capital social : 897 953 euros</p>

    <p>La Politique s'applique dès lors que vous consultez des ressources disponibles sur le(s) site(s) internet ou application(s) mobile(s) que nous éditons.</p>

    <h5>1. QU'EST-CE QU'UN « COOKIE » ?</h5>

    <p>Le terme de « cookie(s) » couvre l'ensemble des fichiers textes ou traceurs déposés et/ou lus sur un terminal quelconque (ordinateurs, smartphones, tablettes numériques et consoles de jeux vidéo connectées à Internet) lors, par exemple, de la consultation d'un site internet, de la lecture d'un courrier électronique, de l'installation ou de l'utilisation d'un logiciel ou d'une application mobile, et qui permet d'enregistrer des informations relatives à la navigation.</p>

    <p>Ces informations recueillies automatiquement comprennent :</p>

    <p>Des informations relatives à votre utilisation du site telles que les pages consultées, la durée et l'heure de connexion, votre adresse IP, et votre mode de connexion, tel que le type et la version de votre navigateur internet ;
    Des informations relatives à votre équipement telles que votre système d'exploitation, l'OS de votre mobile ou tablette, ainsi que l'identifiant de périphérique unique ("UDID") et d'autres identifiants techniques.</p>

    <h5>2. QUELS SONT LES COOKIES DEPOSES SUR VOTRE TERMINAL ?</h5>

    <p>Notre Site utilise deux types deux cookies :</p>

    <p>Des cookies strictement nécessaires à votre navigation dits cookies techniques et fonctionnels qui ne sont pas soumis à consentement ;</p>

    <p>Des cookies qui ne sont pas strictement nécessaires à la navigation sur le Site et qui sont soumis à consentement.</p>

    <p>2.1 Les cookies strictement nécessaires à votre navigation dits cookies techniques et fonctionnels</p>

    <p>Il s'agit de cookies ayant pour finalité exclusive de permettre ou de faciliter le fonctionnement de notre Site ou application mobile et sont strictement nécessaires à la fourniture de nos services en ligne et à leur sécurisation.</p>

    <p>Ces cookies permettent l'authentification et la connexion au Site ainsi que la mémorisation des éléments de navigation pendant une session. Vous êtes ainsi reconnu en tant qu'internaute unique afin que tous les changements ou toutes les sélections que vous pouvez effectuer sur une page soient gardés en mémoire d'une page à une autre. Par exemple, cela vous permet d'afficher la page précédemment consultée en cliquant sur le bouton « retour » ou de ne pas avoir à remplir de nouveau entièrement un formulaire si vous rechargez la page ou si vous commettez une erreur.</p>

    <p>Ces cookies indispensables au fonctionnement de notre Site ne sont pas soumis à consentement.</p>

    <p>2.2 Les cookies qui ne sont pas strictement nécessaires à la navigation sur le Site</p>

    <p>Il s'agit de cookies qui nous permettent de réaliser des statistiques de visites, de vous proposer des services, des contenus et/ou des publicités adaptés à vos centres d'intérêt.</p>

    <p>Ces cookies ne sont déposés que si vous nous avez donné votre consentement. La durée de validité de votre consentement à l'utilisation de ces cookies n'excèdera pas treize (13) mois.</p>

    <p>a. Les cookies de statistiques et de mesure d'audience</p>

    <p>Ces cookies nous permettent d'établir des statistiques ainsi que des volumes de fréquentation et d'utilisation des divers éléments composant notre Site (rubrique et contenus visités, parcours). Cela nous permet ainsi d'améliorer l'intérêt de nos services et l'ergonomie de notre Site.</p>

    <p>Le refus de ces cookies ne vous empêche pas de naviguer normalement sur le Site, mais nous empêche de suivre et d'améliorer la qualité de nos services.</p>

    <p>b. Les cookies de personnalisation</p>

    <p>Ces cookies permettent d'analyser votre navigation et de définir vos centres d'intérêts pour personnaliser nos services et contenus.</p>

    <p>Le refus de ces cookies ne vous empêche pas de naviguer normalement sur le Site, mais nous empêche de vous proposer une expérience de navigation personnalisée.</p>

    <p>c. Les cookies publicitaires</p>

    <p>Il s'agit de cookies qui ont pour finalité d'identifier vos centres d'intérêt au travers des produits consultés ou achetés sur le site/l'application mobile et de collecter des données de navigation afin de personnaliser l'offre publicitaire qui vous est adressée en dehors de notre site internet. Ils sont déposés par des sociétés tiers.</p>

    <p>Le refus de ces cookies ne vous empêche pas de naviguer normalement sur le Site. Veuillez noter que le refus de ces cookies n'a un impact que sur la personnalisation du message publicitaire que vous êtes susceptible de recevoir et non sur le nombre de publicités que vous êtes susceptible de recevoir ou de voir apparaitre.</p>

    <h5>3. COMMENT ACCEPTER/REFUSER LES COOKIES ?</h5>

    <p>Vous pouvez paramétrer votre navigateur pour accepter/refuser et/ou limiter l'installation des cookies sur votre terminal.</p>

    <p>Vous pouvez également effacer les cookies déposés par les sites web sur votre appareil via le paramétrage de votre navigateur.</p>

    <p>Pour savoir comment gérer vos cookies et vos préférences d'utilisation, vous pouvez consulter l'aide de votre navigateur :</p>

    <p>Firefox : <a href="https://support.mozilla.org/fr/kb/protection-renforcee-contre-pistage-firefox-ordinateur?redirectlocale=fr&cache=no&redirectslug=activer-desactiver-cookies">https://support.mozilla.org/fr/kb/protection-renforcee-contre-pistage-firefox-ordinateur?redirectlocale=fr&cache=no&redirectslug=activer-desactiver-cookies</a></p>
    <p>Chrome : <a href="https://support.google.com/accounts/answer/61416?hl=fr&ref_topic=2373959">https://support.google.com/accounts/answer/61416?hl=fr&ref_topic=2373959</a></p>
    <p>Internet explorer : <a href="https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/fr-fr/help/17442/windows-internet-explorer-delete-manage-cookies</a></p>
    <p>Safari : <a href="https://help.apple.com/safari/mac/9.0/?lang=fr#/sfri1147">https://help.apple.com/safari/mac/9.0/?lang=fr#/sfri1147</a></p>
    <p>Opera : <a href="https://help.opera.com/en/latest/security-and-privacy/#clearBrowsingData">https://help.opera.com/en/latest/security-and-privacy/#clearBrowsingData</a></p>
    <p>Edge : <a href="https://support.microsoft.com/fr-fr/help/4468242/microsoft-edge-browsing-data-and-privacy">https://support.microsoft.com/fr-fr/help/4468242/microsoft-edge-browsing-data-and-privacy</a></p>

    <h5>4. COMMENT AVOIR PLUS D'INFORMATIONS ?</h5>

    <p>Si vous souhaitez avoir plus d'information sur la gestion des cookies et sur vos droits, vous pouvez consulter le site de la Commission Nationale Informatique et Libertés (https://www.cnil.fr/fr).</p>

    <p>Vous pouvez également nous contacter aux coordonnées suivantes : contact@cerfunos.com</p>
</div>
{% endblock %}
