{% extends 'front/template_page.html.twig' %}
{% block title %}Cerfunos | Inscription
{% endblock %}
{% block titre %}Inscription
{% endblock %}
{% block content %}
<div class="text-white">

</div>
    <section class="text-center">
        <div class="p-5 bg-image">
            <img src="https://picsum.photos/900/200?random=1" class="w-100 rounded-4 shadow-4" alt="Image aléatoire" />
        </div>
        <div class="card mx-4 mx-md-5 shadow-5-strong " style="margin-top: -100px;background: hsla(0, 0%, 100%, 0.8);backdrop-filter: blur(30px);transform: none;">
            <div class="card-body py-5 px-md-5">

                {{ form_start(form) }}
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        {{form(form)}}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

