{% extends "front/template_page.html.twig" %}
{% block titre %}Votre commande n'a pas abouti
{% endblock %}
{% block title %}Paiement annulé
{% endblock %}
{% block content %}
<p class='text-white text-center p-5'>Une erreur est survenue lors de la commande, celle-ci a été annulée</p>
{% endblock %}