{% extends "front/template_page.html.twig" %}
{% block titre %}Validation de vos informations
{% endblock %}
{% block title %}Validation de vos informations
{% endblock %}

{% block content %}
	<div class='p-5 text-white'>
		{{form(form)}}
		</div>

		<div class='d-flex flex-row-reverse'>
	
			<form action="/checkout" method="POST">
				<button  style='padding:12px !important;' class=' border-orange  p-5 bg-dark text-white text-decoration-none align-middle' type="submit" id="checkout-button">Finaliser votre commande</button>
			</form>
		</div>
	{% endblock %}
