{% extends "front/template_page.html.twig" %}
{% block title %}
Cerfunos | Conditions Générales de Ventes
{% endblock %}

{% block titre %}Condtions générales de vente {% endblock %}


{% block content %}
<div class="text-white p-5">

    <h5>Article 1. DEFINITIONS</h5>

    <p>1.1. Achat :Désigne le service vous permettant de passer via l'Interface la Commande des produits d'un Panier en vue de la conclusion d'une vente soumises aux Conditions Générales et conclue entre Vous et le Magasin.</p>

    <p>1.2. Commande : Désigne l'action par laquelle Vous confirmez votre demande d'Achat par le biais de l'Interface.</p>

    <p>1.3. Conditions Générales : Désigne le présent document contractuel régissant vos Achats. Pour éviter toute confusion, il est précisé que les présentes Conditions Générales ne s'appliquent pas à certaines propositions d'achat faites sur des espaces dédiés hébergés par la société BVD Fr SAS sous le domaine "cerfunos.fr", mais en vue de ventes réalisées directement par des prestataires-tiers. Ces ventes sont soumises aux conditions générales des prestataires concernés.</p>

    <p>1.4. Eco Participation : Désigne la contribution financière du consommateur à la collecte, à la réutilisation et au recyclage des équipements électriques et électroniques et des meubles en fin de vie. Son montant est déterminé selon le produit et son type de traitement (pour les équipements électriques et électroniques) et selon un barème en fonction du type de meuble et de son poids (pour l’éco-participation sur le mobilier).</p>

    <p>1.5. Interface : Désigne l’interface en ligne fournie par la société BVD Fr SAS (RCS 379 398 456) à l’adresse suivante https://www.cerfunos.fr permettant de sélectionner un Panier et de l’envoyer au Magasin qui, sous réserve de la disponibilité des produits concerné, en fera un usage conforme à votre Commande dans le respect des présentes Conditions Générales.</p>

    <p>1.6. Magasin : Désigne, parmi les magasins participants listés à l’adresse suivante, http://cerfunos.fr/nos-magasins, celui que vous avez sélectionné sur l'Interface. Le nom et l’adresse exacte du Magasin que vous sélectionnez pour les besoins de vos Achats en ligne sont mentionnés sur les pages du site et vous sont confirmés par courrier électronique en cas d'achat ou de réservation effective. Ils sont soit des succursales de la société BVD Fr SAS, soit des filiales de cette dernière, soit des sociétés franchisées distinctes appartenant au réseau Cerfunos.</p>

    <p>1.7. Panier : Désigne la liste des produits que vous sélectionnez par le biais de l'Interface en vue d'un Achat et dont le récapitulatif vous est adressé dans le courriel de confirmation suivant votre Commande.</p>

    <p>1.8. Vous :Désigne tout client ayant adressé, par le biais de l'Interface, une Commande à un Magasin en vue de l'Achat ou de la Réservation d'un Panier conformément aux présentes Conditions Générales.</p>

    <h5>Article 2. DISPONIBILITE DES PRODUITS</h5>

    <p>2.1. La disponibilité des produits en magasins est indiquée sur l'Interface par les mentions suivantes :</p>

    <p>« Retrait gratuit en magasin sous … heures » : Le produit est en stock magasin. Le temps de préparation varie selon le magasin. Il peut être de 2h, 6h ou 12h ouvrées.</p>

    <p>« Retrait gratuit en magasin estimé le ... » : Le produit n'est pas disponible immédiatement et doit être commandé au fournisseur ou au fabriquant par le Magasin. Le délai de disponibilité correspond au délai raisonnable envisagé pour que le Magasin puisse être livré et varie selon les produits. Le paiement en ligne est dans ce cas obligatoire.</p>

    <p>« Retrait gratuit en magasin » grisé : Le produit n’est pas disponible en stock magasin ou la quantité demandée est supérieure au stock du magasin sélectionné et, dans les deux cas, le Magasin ne prévoit pas de réapprovisionnement. La disponibilité de la commande en retrait magasin est égale à la date de disponibilité la plus éloignée des produits la composant.</p>

    <p>2.2 La disponibilité des produits en livraison à domicile est indiquée sur l'Interface par les mentions suivantes : Pour qu’un produit puisse être éligible à la livraison à domicile, le magasin sélectionné doit proposer ce type de service.
    Les livraisons à domicile s’effectuent du lundi au vendredi (hors jours fériés)</p>

    <p>« Livré chez vous dès le … » : le produit Vous sera livré dans le délai indiqué.</p>

    <p>« Livré chez vous » grisé : Le produit n’est pas disponible en stock plateforme ou la quantité demandée est supérieure au stock plateforme et, dans les deux cas, la plateforme ne prévoit pas de réapprovisionnement.</p>

    <p>Absence de mention liée à la livraison à domicile : Le produit n’est pas proposé à la livraison à domicile.
    La disponibilité de la commande en livraison à domicile est égale à la date de disponibilité la plus éloignée des produits la composant.</p>

    <p>Mention « Non disponible dans ce magasin » :</p>

    <p>Le produit n’est ni disponible en retrait magasin ni en livraison à domicile.</p>

    <p>2.3. Vous reconnaissez qu'entre la confirmation de votre commande et le traitement de celle-ci par le Magasin, un ou plusieurs produits du Panier peuvent venir à ne plus être disponibles. De même, vous reconnaissez que le Magasin puisse ne pas avoir été livré dans les délais annoncés pour des raisons indépendantes de sa volonté. En cas d’indisponibilité exceptionnelle du ou des produits suite à une rupture de stock survenue postérieurement à la passation d'une commande, ou de non-livraison du Magasin dans le délai envisagé :</p>

    <p>D'une part, l'Achat sera annulé automatiquement, à moins que les conditions cumulatives suivantes soient remplies :</br>
    (a) le paiement a été effectué et </br>
    (b) le Magasin est en mesure de Vous proposer une autre date de livraison ou de retrait et </br>
    (c) Vous acceptez ces nouvelles conditions par échange d'emails ;</p>

    <p>D'autre part, le Magasin fera ses meilleurs efforts pour Vous informer de l'indisponibilité, en utilisant l'adresse e-mail ou le numéro de téléphone que Vous avez fournis lors de votre Commande et ce, dans les meilleurs délais et si possible avant que Vous ne vous déplaciez le cas échéant; Dans le cas où Vous n’auriez pu être joint ou prévenu et/ou Vous vous seriez déplacé malgré tout, le Magasin s’efforcera, dans la mesure du possible, de Vous proposer l’Achat d’un article alternatif qui est effectivement proposé à la vente dans ses rayons.</p>

    <h5>Article 3. DESCRIPTION DES PRODUITS</h5>

    <p>Les caractéristiques essentielles des produits Vous sont communiquées antérieurement à la validation d'une Commande. Lorsque Vous sélectionnez un produit afin de l'inclure dans un Panier, Vous pouvez avoir accès à trois onglets.</p>

    <p>Descriptif du produit</p>
    <p>Fiche technique</p>
    <p>Avis du consommateur</p>

    <h5>Article 4. AFFICHAGE DU PRIX DES PRODUITS</h5>

    <p>4.1. Tant que Vous n'avez pas sélectionné un Magasin aux fins de consulter les offres effectivement proposées par ce dernier, les prix et informations mentionnés sur le site www.cerfunos.fr sont donnés à titre indicatif (pour la France métropolitaine) à la date de la dernière mise à jour du site et ne sont pas contractuels. Ces prix indicatifs sont susceptibles d’évoluer périodiquement ou à l’occasion de modifications opérées par nos fabricants.</p>

    <p>4.2. Seuls les prix et informations relatifs aux offres commerciales du Magasin - accessibles seulement une fois que Vous avez sélectionné celui-ci - peuvent lier ce dernier selon les conditions contractuelles applicables aux ventes et services qu’il propose. Chaque magasin Cerfunos étant libre de fixer ses propres prix de revente, les prix affichés après la sélection du Magasin sont susceptibles d’être différents des prix indicatifs visés à l'article 4.1.</p>

    <p>4.3. Les prix des produits sont affichés en euros sur le site www.cerfunos.fr en hors taxes (HT) et en toutes taxes comprises (TTC).</p>

    <p>4.4. Pour les meubles et les appareils électriques, les prix TTC incluent le coût de l'Eco-Participation. Le montant de l'Eco-participation est indiqué à titre d'information, conformément aux dispositions du Code de l'environnement.</p>

    <p>4.5.Sauf précision contraire, le prix indiqué n'inclut pas les frais de port et de livraison. Si Vous choisissez de venir retirer sur place, dans le Magasin sélectionné, les produits ayant fait l'objet d'un Achat, aucun frais de livraison ne vous sera facturé.</p>

    <h5>Article 5. ETAPES POUR LA VALIDATION DES ACHATS</h5>

    <p>5.1. La prise en compte d'une Commande suppose que Vous réalisiez sur l'Interface chacune des étapes suivantes :</p>

    <p>Identification ou création d’un compte consommateur dans l’hypothèse d’une première Commande</p>

    <p>Sélection d'un Magasin</p>

    <p>Sélection des produits de votre Panier</p>

    <p>Saisie des informations relatives à votre identité et à l'adresse de facturation;</p>

    <p>Saisie de l'adresse et du jour de livraison si Vous Choisissez d'être livré lorsque cette option est disponible. Si vous choisissez de retirer en magasin, vous devez également sélectionner la date et l’heure désirée pour le retrait de votre commande. L'adresse de retrait est celle du Magasin que vous avez sélectionné.</p>

    <p>Sélection du mode de paiement (au choix selon les options disponibles, paiement en ligne en 3 fois, paiement en ligne en une seule fois, paiement au retrait). Le choix du paiement au retrait entraîne l’application des Conditions de réservation ci-dessous.
    Vérification de la commande et éventuelles modifications du panier et des options sélectionnées (la possibilité de modifier votre commande Vous étant laissée jusqu'à sa validation définitive)</p>

    <p>- Validation de la commande et acceptation des présentes conditions générales de vente en cochant obligatoirement une case prévue à cet effet.</p>

    <p>Saisie des coordonnées de votre carte bancaire dans les champs prévus à cet effet aux fins de procéder au paiement en ligne.</p>

    <p>5.2. Après validation de la Commande, sera adressée sans délai, une confirmation de Commande à l’adresse e-mail que Vous aurez renseignée, comportant sur support durable le texte des présentes conditions générales de vente, le prix TTC des produits du Panier (incluant le montant de l'Eco Participation éventuellement applicable), la description de leurs caractéristiques essentielles, les coordonnées du Magasin et le lieu de retrait ou de livraison, un rappel de ce que Vous disposez d'un droit de rétractation si Vous êtes un consommateur ou un professionnel employant 5 salariés ou moins et dont la commande n'entre pas dans le champ de son activité principale, ainsi qu'un formulaire Vous permettant d'exercer votre droit de rétractation conformément à l'article 9 ci-après.</p>

    <p>5.3. Ni BVD FR SAS, ni le Magasin ne pourront être tenus responsables en cas d’erreur de saisie ou d'absence de délivrance effective de l’e-mail de confirmation dû à l'indication d'une mauvaise adresse ou d'un dysfonctionnement de votre boite de messagerie. Vous devez vous assurer que cette adresse fonctionne et que votre messagerie est conçue pour vous permettre de conserver l'e-mail de confirmation sur support durable.</p>

    <p>5.4. Toute Commande finalisée selon les étapes décrites aux paragraphes 5.1 et 5.2 ci-dessus entraine une obligation de payer, sans préjudice de votre droit éventuel de rétractation conformément à l'article 9 ci-après. A cet égard, la fourniture en ligne du numéro de carte bancaire et la validation finale de la Commande vaudront preuve de l’intégralité de ladite Commande conformément à l’article 1366 du Code civil et vaudront exigibilité du prix des produits objets de votre Achat.</p>

    <h5>Article 6. DEMANDE DE DEVIS EN LIGNE</h5>

    <p>Lorsque l’option « Demande de devis en ligne » est disponible dans le Magasin sélectionné, si vous souhaitez obtenir un devis vous devez suivre les étapes suivantes :</p>

    <p>Identifiez-vous ou créez un compte.</p>

    <p>Ajoutez au panier les produits qui vous intéressent.</p>

    <p>Rendez-vous sur la page panier.</p>

    <p>Cliquez sur le bouton « Générer un devis » situé en dessous du bouton « Valider mon panier ».</p>

    <p>Choisissez le mode de livraison souhaité.</p>

    <p>Cliquez sur bouton « Envoyer mon devis ». Un devis en format PDF sera téléchargé sur votre terminal. Vous recevrez également une copie de votre devis à l’adresse e-mail renseignée sur votre compte-client.</p>

    <p>Les devis générés sur le Site dans le Magasin sélectionné sont valables pour une durée de 24 heures. Au-delà de ce délai, tous les devis non-acceptés seront caducs.</p>

    <p>Lorsque vous demandez un devis sur le Site, seule l’option paiement comptant est disponible.</p>

    <p>Si vous avez une demande spécifique, vous pouvez toujours vous adresser directement au Magasin sélectionné.</p>

    <h5>Article 7. PAIEMENT DU PRIX</h5>

    <p>Le prix facturé est le prix TTC.</p>

    <p>Vous bénéficiez de trois options de paiement :</p>

    <p>Paiement lors du retrait en Magasin des produits. Le choix du paiement au retrait entraine l’application des Conditions de réservation ci-dessous.</p>

    <p>Paiement en ligne en une fois (si l’option est disponible) : Vous êtes alors débité immédiatement de la totalité du prix ;</p>

    <p>Paiement en ligne en trois fois (si l’option est disponible) : Vous êtes alors débité à la date de la Commande du premier tiers du total du prix, trente jours après du deuxième tiers et soixante jours après du troisième tiers (jours calendaires).</p>

    <p>En cas de paiement en ligne, seul le paiement par carte bancaire est possible.</p>

    <p>Une confirmation de paiement Vous sera adressée à l’adresse e-mail que vous avez renseignée, une fois la Commande finalisée.</p>

    <p>Vous bénéficiez d'un droit de remboursement dans le cas où l'Achat serait annulé conformément à l'article 2.2.</p>

    <p>Dans l’hypothèse où le débit du prix de la Commande serait impossible, la vente sera résolue de plein droit et la commande sera par voie de conséquence annulée.</p>

    <h5>Article 8. LIVRAISON ET RETRAIT DES PRODUITS</h5>

    <p>8.1 Retrait en Magasin</p>

    <p>Si Vous choisissez un retrait en Magasin, lorsque l’option est disponible, les délais de retrait sont indiqués lors du passage de votre Commande.</p>

    <p>Vous devrez effectuer ce retrait à l'adresse du Magasin telle que reproduite dans le courriel de confirmation consécutif à votre réservation. Vous ne pourrez effectivement prendre possession et emporter les produits de votre Panier qu'après avoir accompli les formalités suivantes : (i) Présenter l'email de confirmation consécutif à votre Achat ou indiquer les informations y figurant (en particulier votre numéro de Commande), (ii) Procéder au paiement du prix convenu ou, si le paiement a déjà été effectué en ligne, en présenter le justificatif. Le cas échéant, le Magasin se réserve la possibilité de vous demander un justificatif d'identité avant de vous remettre les produits.</p>

    <p>Les produits commandés seront rassemblés et tenus à votre disposition dans le Magasin concerné à compter d’un délai indicatif lequel est mentionné lors de la dernière étape de la Commande.</p>

    <p>Les produits préparés par le Magasin restent tenus à votre disposition pendant un délai préfixé de quatorze jours ouvrés à compter de leur date de mise à disposition et uniquement pendant les heures et jours d’ouverture du Magasin concerné, à propos desquels Vous êtes tenu de vous renseigner. Au-delà de ce délai, les conditions suivantes s’appliquent :</p>

    <p>Les produits sont remis en rayon ;</p>

    <p>La vente est annulée.</p>

    <p>Vous acceptez expressément que le remboursement s'effectue prioritairement sous la forme d'un crédit sur la Carte bancaire ayant été utilisée pour procéder au paiement en ligne.</p>

    <p>8.2 Livraison à domicile</p>

    <p>8.2.1 Généralités</p>

    <p>La livraison à domicile n’est possible qu’en France Métropolitaine dans les magasins participants (Liste disponible ici).</p>

    <p>Si Vous choisissez d'être livré, le Magasin organise pour Vous la livraison. Il est votre point de contact pour toute question relative à la livraison de vos Commandes.</p>

    <p>Pour la bonne exécution de la livraison, Vous devrez remplir avec précision, au moment de la Commande, l'adresse de la livraison souhaitée (et vos horaires d’ouverture si vous êtes un professionnel), et indiquer un numéro de téléphone où Vous pourrez être joignable. Le Magasin ne pourra être tenu responsable de la perte d’un colis qui serait due à une erreur de votre part (adresse incomplète ou erronée notamment).</p>

    <p>Sauf indications contraires, toutes les livraisons à domicile sont sans montage et se font au pied de l'immeuble de l'adresse indiquée pour un appartement ou au pas de porte de l'adresse indiquée pour une maison.</p>

    <p>8.2.2 Délais de livraison</p>

    <p>Les délais de livraison Vous seront indiqués à l'étape du choix de la méthode de livraison dans le parcours d'achat du site.</p>

    <p>Votre magasin veille à ce que Vous soyez livré à la date de livraison prévue lors de la Commande et au plus tard dans un délai de trente jours.</p>

    <p>Les délais de livraison s'entendent hors week-end (du lundi au vendredi) et jours fériés.</p>

    <p>En cas de retard de livraison, Vous serez prévenu par courriel par le Magasin.</p>

    <p>8.2.3 Frais de livraison</p>

    <p>Le montant total des frais de livraison de votre Commande est calculé automatiquement en fonction de votre Panier et Vous sera systématiquement indiqué dans votre Panier avant que Vous ne validiez votre Commande.</p>

    <p>Nous vous informons que pour la livraison des typologies de produits listées ci-après dits « Produits lourds » des suppléments tarifaires seront appliqués :</p>

    <p>Angle de retour, caisson métallique, Fauteuil de bureau, voile de fond</p>

    <p>Destructeur, imprimante</p>

    <p>Caisson en bois, table de réunion simple</p>

    <p>Bureau opérationnel</p>

    <p>Armoire crédence, table de réunion haut de gamme</p>

    <p>Bureau de direction</p>

    <p>Armoire en métal</p>

    <p>Carton de papier</p>

    <p>Vous retrouverez l’ensemble des informations sur nos frais de livraisons ici.</p>

    <p>8.2.4 Réception des Commandes</p>

    <p>Lors de la livraison de votre Commande, Vous devrez vérifier, en présence du transporteur, le nombre, l'état et le contenu du colis.</p>

    <p>En cas de dommage constaté, Vous devrez mentionner avec précision : la date, les dégâts et émettre des réserves sur le bon de livraison et contacter le Magasin par téléphone ou par mail (voir fiche du Magasin sur le site internet de Cerfunos). Vous pouvez également si Vous l’estimez nécessaire refuser le colis lorsque celui-ci est manifestement endommagé.</p>

    <p>Vos réserves doivent être signalées au Magasin dans un délai de 48h à compter de la livraison.</p>

    <p>Dans le cas où le transporteur ne Vous laisserait pas la possibilité de contrôler l’état de la marchandise livrée, pour quelque motif que ce soit, Vous devrez impérativement le mentionner sur le bordereau de transport et faire contresigner ce dernier par le transporteur.</p>

    <p>L'impossibilité de Vous livrer de votre fait (manquement à un rendez-vous de livraison, non retrait de colis après avis de passage, défaut ou difficulté d’accès au lieu de livraison…) entraîne la déduction des frais de retour du remboursement de la Commande. Dans l'hypothèse où Vous souhaiteriez de nouveau vous faire livrer, les frais de transports engagés par le Magasin seront à votre charge.</p>

    <p>8.2.5 Option de montage</p>

    <p>Pour certains produits pour lesquels l’option livraison à domicile est disponible, le Magasin peut vous proposer un service de montage et d’installation.</p>

    <p>Le coût de cette option de livraison/montage à domicile Vous sera indiqué avant la validation finale de votre Commande.</p>

    <h5>Article 9. GARANTIES</h5>

    <p>9.1 Garantie légale. Indépendamment de toute garantie conventionnelle éventuellement fournie par le Magasin ou par le fabriquant d'un produit de votre Panier, Vous bénéficiez de la garantie légale de conformité dans les conditions des articles L.217-4 à L. 217-13 du code de la consommation et de celle relative aux défauts de la chose vendue, dans les conditions prévues aux articles 1641 à 1648 et 2232 du code civil.</p>

    <p>Conformément à l'Arrêté du 18 décembre 2014 relatif aux informations contenues dans les conditions générales de vente en matière de garantie légale, il est précisé que le nom et l'adresse du vendeur garant de la conformité des biens achetés, Vous permettant de formuler une demande au titre de la garantie légale de conformité ou de la garantie des défauts de la chose vendue au sens des articles 1641 et suivants du code civil, sont ceux du Magasin que Vous avez sélectionné et qui figurent dans l'email de confirmation de votre Commande visé à l'article 5.2 des présentes.</p>

    <p>Les demandes tendant à faire valoir ces droits doivent être adressées au Magasin par lettre recommandée avec accusé de réception.</p>

    <p>Lorsqu'il agit en garantie légale de conformité, le consommateur :</br>

    bénéficie d'un délai de deux ans à compter de la délivrance du bien pour agir ;
    peut choisir entre la réparation ou le remplacement du bien, sous réserve des conditions de coût prévues par l'article L. 211-9 du code de la consommation ;</br>

    est dispensé de rapporter la preuve de l'existence du défaut de conformité du bien durant les six mois suivant la délivrance du bien. Ce délai est porté à vingt-quatre mois à compter du 18 mars 2016, sauf pour les biens d'occasion.
    La garantie légale de conformité s'applique indépendamment de la garantie commerciale éventuellement consentie.</p>

    <p>Le consommateur peut décider de mettre en œuvre la garantie contre les défauts cachés de la chose vendue au sens de l'article 1641 du code civil et dans cette hypothèse, il peut choisir entre la résolution de la vente ou une réduction du prix de vente conformément à l'article 1644 du code civil.</p>

    <p>9.2. Garanties conventionnelles</p>

    <p>Certains produits sont également assortis d’une garantie du fournisseur ou du fabriquant. Cette garantie s’ajoute aux garanties légales détaillées précédemment.</p>

    <h5>Article 10. DROIT DE RETRACTATION</h5>

    <p>10.1. Modalités. En application des dispositions des articles L221-18 et suivants du Code de la consommation, Vous disposez d’un droit de rétractation que vous pouvez exercer, sans avoir à motiver votre décision, dans un délai de quatorze (14) jours, à compter de la date où Vous-même, ou un tiers autre que le transporteur et désigné par Vous, prenez physiquement possession des produits commandés.</p>

    <p>Il vous appartient de justifier de cette date.</p>

    <p>Vous ne bénéficiez d’un droit de rétractation que si vous avez réglé votre commande en ligne. Dans le cas contraire (paiement en magasin), le contrat n’étant pas conclu à distance, aucune rétractation ne sera possible après paiement. En cas de paiement en magasin, vous pouvez toutefois annuler votre réservation jusqu’au moment de son retrait et paiement au Magasin.
    Pour exercer le droit de rétractation, Vous devez notifier votre décision de rétractation de votre Achat au moyen d'une déclaration dénuée d'ambiguïté et ce, par lettre avec accusé de réception envoyée par la poste au Magasin ou à l'adresse de courrier électronique du Magasin telles qu'indiquées sur l'Interface magasin du site cerfunos.fr. Vous pouvez utiliser le modèle de formulaire de rétractation accompagnant l'email de confirmation visé à l'article 5.2 des présentes, mais ce n'est pas obligatoire.
    Pour que le délai de rétractation soit respecté, il suffit que Vous transmettiez votre communication relative à l'exercice du droit de rétractation avant l'expiration du délai de rétractation.
    Lorsque Vous avez choisi le retrait en magasin, vous devez ramener le colis au magasin où le retrait de la commande initiale a eu lieu.</p>

    <p>Lorsque vous avez choisi la livraison à domicile, lorsque celle-ci est possible, Vous pouvez à votre choix ramener gratuitement le colis au Magasin auprès duquel la commande a été effectuée ou renvoyer à vos frais le colis à l’adresse qui vous sera indiquée.
    Les produits doivent impérativement être retournés au Magasin dans un état propre à une nouvelle commercialisation (produits en parfait état dans leur emballage d'origine, démontés si tel était le cas lors de leur achat, accessoires, notice...). Les produits devront en outre être accompagnés du numéro de la Commande.</p>

    <p>10.2. Effets. En cas de rétractation d'un Achat de votre part, le Magasin vous remboursera tous les paiements reçus de Vous, y compris les frais de livraison (à l'exception des frais supplémentaires découlant du fait que vous avez choisi, le cas échéant, un mode de livraison autre que le mode moins coûteux de livraison standard proposé sur l'Interface) sans retard excessif et, en tout état de cause, au plus tard quatorze jours à compter du jour où le magasin sera informé de Votre décision de rétractation. Le Magasin pourra toutefois différer le remboursement jusqu'à ce qu'il ait reçu le retour du ou des produit(s) concerné(s), qu'il vous appartient de lui restituer (les frais de retour étant entièrement à votre charge) ou jusqu'à ce que vous ayez fourni une preuve d'expédition de ces produits, la date retenue étant celle du premier de ces faits. Vous devrez renvoyer ou rendre le bien au Magasin sans retard excessif et, en tout état de cause, au plus tard quatorze jours après que Vous lui aurez communiqué votre décision de rétractation. Ce délai est réputé respecté si Vous renvoyez le bien avant l'expiration du délai de quatorze jours.
    Vous devrez prendre en charge les frais directs de renvoi des produits pour lesquels Vous vous rétractez.
    Le Magasin procédera au remboursement soit par virement bancaire sous réserve que vous joignez un RIB à votre demande de rétractation soit, en cas de paiement en ligne, par re-crédit de votre carte bancaire sauf si vous convenez expressément d'un moyen différent. Le Magasin pourra ainsi Vous proposer d'autre moyens de remboursement tels que la remise d'un bon de commande à valoir sur un prochain achat ; en tout état de cause, ce remboursement n'occasionnera pas de frais pour vous. Votre responsabilité n'est engagée qu'à l'égard de la dépréciation du bien résultant de manipulations autres que celles nécessaires pour établir la nature, les caractéristiques et le bon fonctionnement de ce bien.</p>

    <p>10.3. Exclusion. Le droit de rétractation est réservé aux consommateurs. Si Vous avez fait votre Achat en agissant à des fins professionnelles, Vous n'en bénéficiez pas.</p>

    <p>De plus, certains produits visés à l’article L.221-28 du code de la consommation français ne permettent pas d'exercer le droit de rétractation visé à l'article 9.1 ci-dessus, à savoir notamment: (i) les biens susceptibles de se détériorer ou de se périmer rapidement, (ii) les biens qui ont été descellés par Vous après la livraison et qui ne peuvent être renvoyés pour des raisons d'hygiène ou de protection de la santé, (iii) les biens qui, après avoir été livrés et de par leur nature, sont mélangés de manière indissociable avec d'autres articles, (iv) les enregistrements audio ou vidéo ou les logiciels informatiques lorsqu'ils ont été descellés par Vous après la livraison, (v) les biens confectionnés selon les spécifications du consommateur ou nettement personnalisés.</p>

    <p>Modèle de formulaire de rétractation</p>

    <p>Veuillez compléter et renvoyer le présent formulaire uniquement si vous souhaitez vous rétracter du contrat.</p>

    <p>À l'attention de [nom, adresse géographique et, lorsqu'ils sont disponibles, numéro de télécopieur et adresse électronique du Magasin] :</br>
    Je/nous (*) vous notifie/notifions (*) par la présente ma/notre (*) rétractation du contrat portant sur la vente du bien (*)/pour la prestation de services (*) ci-dessous :</br>
    Commandé le (*)/reçu le (*) :</br>
    Nom du (des) consommateur(s) :</br>
    Adresse du (des) consommateur(s) :</br>
    Signature du (des) consommateur(s) (uniquement en cas de notification du présent formulaire sur papier) : […]</br>
    Date :</br>
    (*) Rayez la mention inutile.</p>

    <h5>Article 11. RECLAMATION/RESOLUTION/ANNULATION</h5>

    <p>Toute réclamation de votre part à propos de l'exécution d'un Achat, pour quelque raison que ce soit, doit être adressée au Magasin par lettre recommandée avec accusé de réception.</p>

    <p>Il en va de même de toute demande de votre part tendant à annuler ou résoudre la vente consécutive à votre Achat, pour quelque raison que ce soit.</p>

    <p>Sauf dispositions légales contraires, et à moins que les présentes Conditions générales n'en disposent autrement dans certains cas spéciaux ou que les parties s'en accordent, l'annulation ou la résolution d'une vente réalisée par le biais de l'Interface ne sera effective qu'après son prononcé par la juridiction compétente.</p>

    <h5>Article 12. RESERVE DE PROPRIETE</h5>

    <p>En cas de paiement différé, le transfert de propriété des marchandises à votre profit est suspendu jusqu’au paiement intégral du prix.</p>

    <p>Le Magasin conservera la propriété des marchandises jusqu’au parfait paiement de celles-ci dans le cadre des conditions établies contractuellement, et si vous êtes une personne morale, même en cas de procédure collective ouverte à votre encontre, et ce conformément aux articles L624-9 et suivants du Code de commerce.</p>

    <p>En cas de paiement différé, un échéancier détaillé (date des prélèvements et montant) Vous sera adressé au moment de la validation de sa commande.</p>

    <p>Si vous êtes un professionnel, tout retard de paiement par rapport à la date prévue pourra entrainer l’application d’une pénalité égale à dix fois le taux de l’intérêt légal, sur les montants non réglés à l’échéance et de l’indemnité forfaitaire pour frais de recouvrement prévue par la règlementation.</p>

    <h5>Article 13. FORCE MAJEURE</h5>

    <p>BVD FR SAS et le Magasin ne seront pas responsables du manquement ou du non-respect de leurs obligations du fait de la survenance d’un cas de force majeure.</p>

    <p>Pour l’application de cet article, la force majeure est réputée constituée par toute cause perturbant l’exécution d'un Achat, imputable à des actes, événements ou circonstances imprévisibles, irrésistibles et étrangers aux parties et, en particulier, guerre, catastrophes naturelles, destruction totale ou partielle des locaux de l’une des parties, grèves, actes de gouvernement, émeutes ou insurrection (liste non exhaustive).</p>

    <p>BVD FR SAS et le Magasin ne sauraient davantage être tenus responsables des dommages résultant de l’utilisation du réseau internet tel que : perte de données, intrusion, virus, rupture du service, ou autres problèmes involontaires.</p>

    <h5>Article 14. ENVIRONNEMENT</h5>

    <p>Vous êtes informé que la présence de substances dangereuses dans les équipements électriques et électroniques peut produire des effets potentiels sur l’environnement et la santé humaine.</p>

    <p>Lors de la vente d’un équipement électrique ou électronique ménager, le Magasin s’engage, sous réserve des dispositions légales applicables, à reprendre ou faire reprendre gratuitement l’équipement usagé dont les consommateurs se défont.
    Dans ce cas, Vous êtes invité à utiliser les systèmes de collecte mis à votre disposition.</p>

    <p>Vous pouvez obtenir toutes les informations nécessaires à ce sujet en contactant directement le Magasin concerné.
    Il vous est rappelé, en tant que de besoin, que les déchets d'équipements électriques et électroniques ne doivent en aucun cas être mélangés avec les déchets non triés.</p>

    <h5>Article 15. LISTE D'OPPOSITION AU DÉMARCHAGE TÉLÉPHONIQUE</h5>

    <p>Si Vous ne souhaitez pas faire l’objet de prospection commerciale par voie téléphonique, Vous pouvez gratuitement vous inscrire sur une liste d’opposition au démarchage téléphonique (Bloctel), étant précisé que l’inscription sur ladite liste n’est pas opposable à Cerfunos en cas de relations contractuelles préexistantes.</p>

    <h5>Article 16. LITIGES :</h5>

    <p>En cas de litige entre le professionnel et le consommateur, ceux-ci s’efforceront de trouver une solution amiable.
    A défaut d’accord amiable, le consommateur a la possibilité de saisir gratuitement le médiateur de la consommation dont relève le professionnel, à savoir l’Association des Médiateurs Européens (AME CONSO), dans un délai d’un an à compter de la réclamation écrite adressée au professionnel.
    La saisine du médiateur de la consommation devra s’effectuer : </br>
    - soit en complétant le formulaire prévu à cet effet sur le site internet de l’AME CONSO : www.mediationconso-ame.com ;</br>
    - soit par courrier adressé à l’AME CONSO, 11 Place Dauphine – 75001 PARIS.</br></p>
    
</div>
{% endblock %}